body{
    margin: 0;
    background-color: black;
    font-family: Candara;
}

main, section{
    margin: 4%;
    display: block;
}
nav{
    margin: 5%;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
li{
    font-size: 30px;
    list-style-type: none;
    display: inline;
    padding-inline: 3%;
    color: white;
}
li a:hover{
    color: rgb(224, 67, 67);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

h1, h2, h3{
    color:white
}
p{
    color: white;
    font-size: 25px ;
    text-align: center;
}
ul{
    background-color: gray;
    margin: 4%;
    margin-bottom: 15px;
}
#title{
    font-size: 30px;
    font-family: Cambria;
}
.personagens{
    float: left;
    padding: 20px;
    margin: 5px;
}
#left{
    float: left;
    padding: 10px;
    margin-left: 0;
}
#right{
    float: right;
    padding: 10px;
    margin-right: 0;

}
.pages{
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}
#link{
    font-size: 18px;
}
